@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

li{
  list-style: none;
}
*{
  transition: all;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Style for WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167); /* Gray color for the scrollbar handle */
  border-radius: 6px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray; /* Darker gray color on hover */
}
.main{
  background-image: url("./assets/todobg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:850px){
  .main{
    background-position: center;
  }
  ::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167); /* Gray color for the scrollbar handle */
    border-radius: 5px; /* Rounded corners for the handle */
  }
}